In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("customer_signups.csv")

In [5]:
df.head()

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [9]:
df.isnull().sum()

customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

In [11]:
df.sample(5)

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
69,CUST00069,Jean Gay,jean69@mailhub.org,10-03-24,Instagram,South,Premium,Yes,40,Female
228,CUST00228,Robin Wilson,robin28@mailhub.org,16-08-24,Referral,East,basic,Yes,34,FEMALE
266,CUST00266,Christopher Hawkins,christopher66@mailhub.org,23-09-24,??,West,Basic,No,53,Other
179,CUST00179,Willie Wilson,willie79@mailhub.org,28-06-24,YouTube,East,Premium,No,25,Non-Binary
43,CUST00043,Christian Lane,christian43@example.com,13-02-24,Google,East,Basic,Yes,25,Female

In [19]:
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [21]:
print("Plan selected unique values:")

Plan selected unique values:

In [25]:
print(df['plan_selected'].unique())

['basic' 'PREMIUM' 'Pro' 'Premium' 'UnknownPlan' 'PRO' 'Basic' nan 'prem']

In [27]:
print("\nGender unique values:")

Gender unique values:

In [29]:
print(df['gender'].unique())

['Female' 'Male' 'Non-Binary' 'Other' 'male' 'FEMALE' nan '123']

In [31]:
duplicates = df.duplicated(subset='customer_id').sum()

In [33]:
print(f"\nDuplicates in customer_id: {duplicates}")

Duplicates in customer_id: 1

In [37]:
df = df.drop_duplicates(subset='customer_id')

In [39]:
df = df.dropna(subset=['customer_id'])

In [41]:
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [43]:
df['plan_selected'] = df['plan_selected'].str.strip().str.capitalize()
df['plan_selected'] = df['plan_selected'].replace({
    'Prem': 'Premium',
    'Pro': 'Pro',
    'Premium': 'Premium',
    'Basic': 'Basic',
    'Unknownplan': 'Unknown'
})

In [45]:
df['gender'] = df['gender'].str.strip().str.capitalize()
df.loc[df['gender'].isin(['Male', 'Female', 'Non-Binary', 'Other']), 'gender'] = 'Unknown'

In [47]:
df['region'] = df['region'].fillna('Unknown')

In [49]:
df['email'] = df['email'].fillna('missing')

In [51]:
df.info()
df.isnull().sum()
df['plan_selected'].value_counts()
df['gender'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 298 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              289 non-null    object
 2   email             298 non-null    object
 3   signup_date       292 non-null    datetime64[ns]
 4   source            289 non-null    object
 5   region            298 non-null    object
 6   plan_selected     290 non-null    object
 7   marketing_opt_in  288 non-null    object
 8   age               286 non-null    object
 9   gender            290 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 25.6+ KB

gender
Unknown       242
Non-binary     42
123             6
Name: count, dtype: int64

In [53]:
df.loc[df['gender'] == ' 123', 'gender'] = 'Unknown'

In [55]:
df['gender'].value_counts()

gender
Unknown       242
Non-binary     42
123             6
Name: count, dtype: int64

In [63]:
missing_summary = df.isnull().sum().to_frame(name='Missing Values')
missing_summary['% Missing'] = (missing_summary['Missing Values'] / len(df) * 100).round(2)
print(missing_summary)

                  Missing Values  % Missing
customer_id                    0       0.00
name                           9       3.02
email                          0       0.00
signup_date                    6       2.01
source                         9       3.02
region                         0       0.00
plan_selected                  8       2.68
marketing_opt_in              10       3.36
age                           12       4.03
gender                         8       2.68

In [65]:
print("Duplicates removed: 1")

Duplicates removed: 1

In [67]:
print("Inconsistent categories corrected: plan_selected, gender")

Inconsistent categories corrected: plan_selected, gender

In [91]:
df = df.dropna(subset=['signup_date'])

In [93]:
df['signup_week'] = df['signup_date'].dt.to_period('W').dt.start_time

In [95]:
weekly_signups = df.groupby('signup_week').size().reset_index(name='Signups')
weekly_signups

   signup_week  Signups
0   2024-01-01        6
1   2024-01-08        5
2   2024-01-15        7
3   2024-01-22        7
4   2024-01-29        8
5   2024-02-05        6
6   2024-02-12        6
7   2024-02-19        7
8   2024-02-26        7
9   2024-03-04        7
10  2024-03-11        5
11  2024-03-18        6
12  2024-03-25        6
13  2024-04-01        7
14  2024-04-08        5
15  2024-04-15        7
16  2024-04-22        7
17  2024-04-29        6
18  2024-05-06        4
19  2024-05-13        7
20  2024-05-20        7
21  2024-05-27        7
22  2024-06-03        7
23  2024-06-10        5
24  2024-06-17        7
25  2024-06-24        7
26  2024-07-01        7
27  2024-07-08        5
28  2024-07-15        6
29  2024-07-22        7
30  2024-07-29        7
31  2024-08-05        5
32  2024-08-12        6
33  2024-08-19        7
34  2024-08-26        7
35  2024-09-02        7
36  2024-09-09        5
37  2024-09-16        7
38  2024-09-23        7
39  2024-09-30        6
40  2024-10-07        5
41  2024-10-14        6
42  2024-10-21        6
43  2024-10-28        3
44  2024-11-04        7
45  2024-11-25        1
46  2024-12-02        7
47  2024-12-09        2

In [101]:
signups_by_source = df['source'].value_counts().reset_index()
signups_by_source.columns = ['source', 'signups']
print(signups_by_source)

      source  signups
0    YouTube       56
1     Google       50
2   Referral       48
3  Instagram       47
4   Facebook       39
5   LinkedIn       37
6         ??        6

In [103]:
signups_by_region = df['region'].value_counts().reset_index()
signups_by_region.columns = ['region', 'signups']
print(signups_by_region)

    region  signups
0    North       64
1     East       61
2    South       56
3     West       44
4  Central       38
5  Unknown       29

In [107]:
signups_by_plan = df['plan_selected'].value_counts().reset_index()
signups_by_plan.columns = ['plan_selected', 'signups']
print(signups_by_plan)

  plan_selected  signups
0       Premium       97
1           Pro       93
2         Basic       88
3       Unknown        6

In [117]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [119]:
age_summary = {
    'min': df['age'].min(),
    'max': df['age'].max(),
    'mean': df['age'].mean(),
    'median': df['age'].median(),
    'null_count': df['age'].isnull().sum()
}
print(age_summary)

{'min': 21.0, 'max': 206.0, 'mean': 36.256410256410255, 'median': 34.0, 'null_count': 19}

In [111]:
optin_by_gender = (
    df.groupby(['gender', 'marketing_opt_in'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)
print(optin_by_gender)

marketing_opt_in      gender  Nil   No  Yes
0                        123    0    3    3
1                 Non-binary    0   20   18
2                    Unknown    1  128  101

In [125]:
print(signups_by_source)
print(signups_by_region)
print(signups_by_plan)
print(optin_by_gender)
print(age_summary)

      source  signups
0    YouTube       56
1     Google       50
2   Referral       48
3  Instagram       47
4   Facebook       39
5   LinkedIn       37
6         ??        6
    region  signups
0    North       64
1     East       61
2    South       56
3     West       44
4  Central       38
5  Unknown       29
  plan_selected  signups
0       Premium       97
1           Pro       93
2         Basic       88
3       Unknown        6
marketing_opt_in      gender  Nil   No  Yes
0                        123    0    3    3
1                 Non-binary    0   20   18
2                    Unknown    1  128  101
{'min': 21.0, 'max': 206.0, 'mean': 36.256410256410255, 'median': 34.0, 'null_count': 19}

In [127]:
support = pd.read_csv("support_tickets.csv")

In [129]:
support.head()

   ticket_id customer_id ticket_date       issue_type resolved
0  TKT0000-1   CUST00203  2024-08-17          Billing      Yes
1  TKT0000-2   CUST00203  2024-07-22  Technical Error      Yes
2  TKT0000-3   CUST00203  2024-07-22            Other      Yes
3  TKT0001-1   CUST00266  2024-09-26    Account Setup      Yes
4  TKT0001-2   CUST00266  2024-10-09  Technical Error       No

In [131]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticket_id    123 non-null    object
 1   customer_id  123 non-null    object
 2   ticket_date  123 non-null    object
 3   issue_type   123 non-null    object
 4   resolved     123 non-null    object
dtypes: object(5)
memory usage: 4.9+ KB

In [133]:
support['ticket_date'] = pd.to_datetime(support['ticket_date'], errors='coerce')

In [137]:
merged = pd.merge(df, support, on='customer_id', how='inner')

In [143]:
merged['days_to_ticket'] = (merged['ticket_date'] - merged['signup_date']).dt.days
within_2_weeks = merged[(merged['days_to_ticket'] >= 0) & (merged['days_to_ticket'] <= 14)]

In [145]:
support_by_plan = within_2_weeks['plan_selected'].value_counts().reset_index()
support_by_plan.columns = ['plan_selected', 'support_tickets']
print(support_by_plan)

  plan_selected  support_tickets
0         Basic               24
1           Pro               23
2       Premium               15
3       Unknown                3

In [147]:
support_by_region = within_2_weeks['plan_selected'].value_counts().reset_index()
support_by_region.columns = ['region', 'support_tickets']
print(support_by_region)

    region  support_tickets
0    Basic               24
1      Pro               23
2  Premium               15
3  Unknown                3

In [151]:
unique_customers = within_2_weeks['customer_id'].nunique()
print(f"Customer who contracted support within 2 weeks: {unique_customers}")

Customer who contracted support within 2 weeks: 47